<?xml version="1.0"?>
<launch>
    <!-- Controller setup -->
    <arg name="robot_id" default="1"/>
    <arg name="sampling_frequency" default="2.0"/>
    <arg name="horizon" default="50"/>
    <arg name="desire_speed" default="0.2"/> <!-- [m/s] -->
    <arg name="compensate_delay" default="true"/>

    <!-- MPC weights for desire_speed of 0.5  -->
    <!--
    <arg name="weight_x" default="200"/>
    <arg name="weight_y" default="200"/>
    <arg name="weight_theta" default="70"/>
    <arg name="weight_v" default="100"/>
    <arg name="weight_w" default="100"/>
    -->
    <!-- MPC weights for desire_speed 0.2 -->
    <!-- -->
    <arg name="weight_x" default="20"/>
    <arg name="weight_y" default="20"/>
    <arg name="weight_theta" default="15"/>
    <arg name="weight_v" default="10"/>
    <arg name="weight_w" default="10"/>

    <!-- Constraints -->
    <arg name="max_forward_velocity" default="0.5"/> <!--[m/s] -->
    <arg name="max_angular_velocity" default="0.5"/> <!-- [rad/s] -->
    <arg name="max_tan_acceleration" default="0.3"/>  <!-- [m/s^2] -->

    <node name="robot$(arg robot_id)_controller" pkg="gpss_mower_controller" type="main.py" output="screen">
        <param name="robot_id" type="int" value="$(arg robot_id)" />
        <param name="sampling_frequency" type="double" value="$(arg sampling_frequency)" />
        <param name="horizon" type="int" value="$(arg horizon)" />
        <param name="desire_speed" type="double" value="$(arg desire_speed)" />
        <param name="compensate_delay" type="bool" value="$(arg compensate_delay)" />
        <param name="max_forward_velocity" type="double" value="$(arg max_forward_velocity)" />
        <param name="max_angular_velocity" type="double" value="$(arg max_angular_velocity)" />
        <param name="max_tan_acceleration" type="double" value="$(arg max_tan_acceleration)" />
        <param name="weight_x" type="double" value="$(arg weight_x)" />
        <param name="weight_y" type="double" value="$(arg weight_y)" />
        <param name="weight_theta" type="double" value="$(arg weight_theta)" />
        <param name="weight_v" type="double" value="$(arg weight_v)" />
        <param name="weight_w" type="double" value="$(arg weight_w)" />
    </node>

</launch>