<?xml version="1.0"?>
<launch>
	<!-- Launch visualization in rviz -->
	<arg name="rvizconfig" default="$(find gpss_mower_controller)/rviz/urdf.rviz" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

	<!-- Launch the mower controller 
	<node name="gpss_mower_controller" pkg="gpss_mower_controller" type="main.py" /> -->

	<!-- Launch the map server -->
	<arg name="map_file" default="$(find gpss_mower_controller)/map/testmap.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	<!-- Launch the global path planner -->
	<node pkg="global_path_planner" name="global_path_planner" type="global_path_planner.py" output="screen" />

	<!-- Launch rqt multiplot -->
	<node pkg="rqt_multiplot" name="rqt_multiplot" type="rqt_multiplot" output="screen" />
</launch>
