<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find vgto_params)/config/global.cfg"/>
  <rosparam command="load" file="$(find vgto_params)/config/hrp_vgto1_simulation.cfg" />
  <rosparam command="load" file="$(find vgto_params)/config/hrp_vgto2_simulation.cfg" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="false"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>
  </include>
  <include file="$(find gazebo_worlds_oru)/launch/empty_map_server.launch"/>

<!-- FAKE COORDINATOR -->
<!--
  <node pkg="orunav_vehicle_execution" type="point_n_click_target_client" name="point_n_click_target_client_citi1" output="screen">
    <param name="load_operation" value="false" />
    <rosparam param="robot_ids">[1,2,3]</rosparam>
    <param name="multiple_vehicles" value="true" />
  </node>

  <node pkg="orunav_coordinator_fake" type="coordinator_fake_node" name="coordinator_fake_node" output="screen">
    <param name="multiple_vehicles" value="true" />
    <param name="use_ct" value="false" />
    <param name="execute_task_name" value="/execute_task2"/>
  </node>
 -->
<!-- COORDINATOR -->

<node name="coordinator" pkg="coordination_oru_ros" type="coordinator" args="se.oru.coordination.coordinator.ros_coordinator.generic.MainNode" output="screen">
  <rosparam param="robot_ids">[1,2,3]</rosparam>
  <param name="footprint_rear_left_x" value="-0.165" />
  <param name="footprint_rear_left_y" value="0.25" />
  <param name="footprint_rear_right_x" value="-0.165" />
  <param name="footprint_rear_right_y" value="-0.25" />
  <param name="footprint_front_left_x" value="0.485" />
  <param name="footprint_front_left_y" value="0.25" />
  <param name="footprint_front_right_x" value="0.485" />
  <param name="footprint_front_right_y" value="-0.25" />
  <param name="control_period" value="200" />
  <param name="temporal_resolution" value="1000.0" />
  <param name="forward_model_max_accel" value="0.5" />
  <param name="forward_model_max_vel" value="1.0" />
 </node>


  <!-- ALL ROBOT SPECIFIC TASKS -->
  <group ns="robot1">
  <param name="tf_prefix" value="robot1" />
      <include file="$(find gpss_mower_controller)/launch/robot_sim.launch">
          <arg name="robot_id" value="1"/>
          <arg name="robot_pose_x" value="0.0"/>
          <arg name="robot_pose_y" value="2.0"/>
          <arg name="robot_pose_z" value="0.1"/>
          <arg name="robot_pose_yaw" value="0.0"/>
      </include>

  </group>

  <group ns="robot2">
  <param name="tf_prefix" value="robot2" />
      <include file="$(find gpss_mower_controller)/launch/robot_sim.launch">
          <arg name="robot_id" value="2"/>
          <arg name="robot_pose_x" value="0.0"/>
          <arg name="robot_pose_y" value="0.0"/>
          <arg name="robot_pose_z" value="0.1"/>
          <arg name="robot_pose_yaw" value="0.0"/>
      </include>
  </group>

  <group ns="robot3">
  <param name="tf_prefix" value="robot3" />
      <include file="$(find gpss_mower_controller)/launch/robot_sim.launch">
          <arg name="robot_id" value="3"/>
          <arg name="robot_pose_x" value="0.0"/>
          <arg name="robot_pose_y" value="-2.0"/>
          <arg name="robot_pose_z" value="0.1"/>
          <arg name="robot_pose_yaw" value="0.0"/>
      </include>
  </group>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gpss_mower_controller)/rviz/plant.rviz"/>

</launch>
